/* Import the font "Dosis" that's used */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
* {
    font-family: Dosis;
    text-align: center;
    background-color: #2f3947;
    overflow: hidden;
    color: rgb(177, 140, 194);
}

h1 {
    font-size: 125px;
}

p {
    font-size: 50px;
}

#portal {
    color: #581d5f;
    font-size: 200px;
    cursor: pointer;
}

canvas {
    animation: rotation 600s infinite linear;
    padding: 0px;
    margin: 0px;
    display: none;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#backButtonDiv {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}

#backButton {
    position: fixed;
    top: 10px;
    right: 10px;
}