/* Import the font "Dosis" that's used */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
* {
    font-family: Dosis;
    text-align: center;
    background-color: #2f3947;
    overflow: hidden;
    color: rgb(177, 140, 194);
}


/* Page Heading */

h1 {
    font-size: 125px;
}


/* The text on the page */

p {
    font-size: 50px;
}


/* The portal (circle) */

#portal {
    color: #581d5f;
    font-size: 200px;
    cursor: pointer;
}


/* Settings of the drawn canvas */

canvas {
    animation: rotation 600s infinite linear;
    padding: 0px;
    margin: 0px;
    display: none;
}


/* The keyframes for the rotation animation */

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}