/* import of "Dosis" (font to use) */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

/* settings for the whole page */

:root {
    --body-background-color: #000000;
    --nav-background-color: #000000;
    --text-color: #ffffff;
    --title-color: #ffffff;
    --nav-text-color: #ffffff;
    --extra-color: #ffffff;
}

* {
    transition: 0.5s;
}

body {
    color: var(--text-color);
    font-family: Dosis;
    transition: 0.5s;
    background-color: var(--body-background-color);
}


/* Deactivate link decoration */

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    text-decoration: none;
}


/*
The content
*/

div .inhalt {
    text-align: left;
    margin-left: 0;
}

#datenschutz-inhalt,
#impressum-inhalt {
    margin-left: 10em;
    margin-right: 10em;
    font-size: 20px;
}

#impressum {
    margin-bottom: 3em;
}

.minitext {
    font-size: 15px;
}

#warning {
    color: #ff0000
}


/* Title */

.title {
    font-size: 500%;
    text-align: center;
    margin: auto;
    color: var(--title-color);
    margin-top: 1em;
}

.title_container {
    text-align: center;
    margin: auto;
}

.title-mintext {
    font-size: 123%;
    text-align: center;
    margin: auto;
    color: var(--title-color);
}


/* Theme switch */

#themeToggleButton {
    color: var(--text-color);
    background: var(--body-background-color);
    padding: 10px 20px;
    /* border: 10px; */
    border-radius: 5px;
}

#themeButton {
    position: fixed;
    top: 10px;
    right: 10px;
}


/* menu */

#navOpener {
    color: var(--text-color);
    position: fixed;
}

#navOpenerButton {
    font-size: 30px;
    cursor: pointer;
}

#navCloseButton {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background-color: var(--nav-background-color);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--nav-text-color);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--extra-color);
}

.sidenav .navClosebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Einstellungen, für den Inhalt der seite (ausgenommen Menü) */

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    margin-top: 1em;
}


/* on small screens change menu */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* Texts */

.titles {
    font-size: 450%;
    text-align: center;
    margin: auto;
}

.mintexts {
    font-size: 123%;
    text-align: center;
    margin: auto;
}


/* Rule settings */

hr {
    margin-top: 5em;
    margin-bottom: 5em;
}