/* import of "Dosis" (font to use) */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

/* settings for the whole page */

:root {
    --body-background-color: #282c36;
    --nav-background-color: #20232d;
    --text-color: #ffffff;
    --title-color: #ffffff;
    --nav-text-color: #ffffff;
    --extra-color: #ffffff;
}

* {
    transition: 0.5s;
}

body {
    font-family: Dosis;
    transition: 0.5s;
    background-color: var(--body-background-color);
    color: var(--text-color);
}


/* Deactivate link decoration */

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


/*
Design for the start-button on the bottom of the page
*/

#start {
    border-radius: 20px;
    width: 180px;
    height: 60px;
    margin: auto;
    text-align: center;
    background-color: var(--nav-background-color);
}

#start_open {
    text-align: center;
    font-size: 40px;
}

#start_open:hover {
    color: var(--extra-color);
}


/* Teil der Überschrift und dem Spruch */

.title {
    font-size: 500%;
    text-align: center;
    margin: auto;
    color: var(--title-color);
    margin-top: 1em;
}

.title-mintext {
    font-size: 123%;
    text-align: center;
    margin: auto;
    color: var(--title-color);
}

.title_container {
    text-align: center;
}

p {
    text-align: center;
}


/* Theme switch */

#themeToggleButton {
    color: var(--text-color);
    background: var(--body-background-color);
    padding: 10px 20px;
    /* border: 10px; */
    border-radius: 5px;
}

#themeButton {
    position: fixed;
    top: 10px;
    right: 10px;
    display: none;
}


/* Menüknöpfe (auf/zu) einfärben */

#navOpener {
    color: var(--text-color);
    position: fixed;
}

#navOpenerButton {
    font-size: 30px;
    cursor: pointer;
}

#navCloseButton {
    cursor: pointer;
}


/*navigations-menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background-color: var(--nav-background-color);
}


/* Design für die Links im Menü */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--nav-text-color);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--extra-color);
}

.sidenav .navClosebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Einstellungen, für den Inhalt der seite (ausgenommen Menü) */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* Bei kleinen bildschirmen Menü anpassen */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* The Title */

.titles {
    font-size: 450%;
    text-align: center;
    margin: auto;
}


/* The text under the title */

.mintexts {
    font-size: 123%;
    text-align: center;
    margin: auto;
}


/* All rules */

hr {
    margin-top: 5em;
    margin-bottom: 5em;
}


/* darkLightDemo */

#darkLightDemo {
    display: flex;
    flex-direction: row;
}

#clouds_light,
#clouds_dark {
    border-radius: 15px;
    position: relative;
    width: 400px;
    height: 400px;
    transition: 0.5s;
}

#clouds_light {
    left: 5%;
}

#clouds_dark {
    right: 5%;
}


/* Imprint styles */

#warning {
    color: #ff0000
}

#datenschutz-inhalt,
#impressum-inhalt {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.25rem;
}

#impressum {
    margin-bottom: 2rem;
}