/* Import the font "Dosis" that's used */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

/* Theme switch */

#themeToggleButton {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 2vh 2vw;
    border-radius: 1vh;
}

#themeButton {
    position: fixed;
    top: 2vh;
    right: 2vh;
}


/* text */

span {
    text-align: center;
    margin: auto;
    cursor: pointer;
}


/* everything on the page */

* {
    box-sizing: border-box;
    font-size: 2.3vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #282C36;
    font-family: Dosis;
    transition: 1s;
}


/* The form */

#login,
#register {
    width: calc(60vw - 1px);
    /* height: 50vh; */
    background-color: #ffffff;
    box-shadow: 0 0 2.5vh 0 #000000;
    margin: 15vh auto;
    border-radius: 3vh;
}

#login h1,
#register h1 {
    text-align: center;
    background-image: -webkit-linear-gradient(180deg, #3274d6, #28c785);
    -webkit-background-clip: text;
    width: fit-content;
    margin: auto;
    -webkit-text-fill-color: transparent;
    font-size: 4vh;
    padding: 2.5vh 0 0 0;
}

#login form,
#register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2.5vh;
}

#login form label,
#register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 5vw;
    background-color: #3274d6;
    color: #ffffff;
}

#login form label:hover,
#register form label:hover {
    background-color: #c300ff;
    color: #000000;
}

#login form input[type="password"],
#login form input[type="text"],
#register form input[type="password"],
#register form input[type="text"] {
    width: 50vw;
    height: 5vw;
    border: 0.25rem solid #dee0e4;
    margin-bottom: 2.5vh;
    padding: 0 1vw;
    border-radius: 1rem;
}

#login form input[type="submit"],
#register form input[type="submit"] {
    width: 50vw;
    height: 7.5vh;
    padding: 2vh;
    margin-top: 1vh;
    background-color: #254674;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 1rem;
    margin-bottom: 1vh;
}

#login form input[type="submit"]:hover,
#register form input[type="submit"]:hover {
    background-color: #28c785;
    transition: background-color 0.25s;
}

#under_submit {
    display: block;
    background-image: -webkit-linear-gradient(360deg, #3274d6, #28c785);
    -webkit-background-clip: text;
    margin: auto;
    -webkit-text-fill-color: transparent;
}


/* Password requirements */

#passwordRequirements div i {
    color: red
}


/* Error output */

#errorOutput {
    cursor: pointer;
    background-color: #cc0605;
    color: #ffffff;
    font-size: 1.5rem;
    width: fit-content;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    animation: animation_error 10s ease 0s 1 normal forwards;
}

@keyframes animation_error {
    0% {
        opacity: 0;
        transform: translateX(5rem);
        display: block;
    }
    5% {
        opacity: 1;
        transform: translateX(0);
    }
    95% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(5rem);
        display: none;
    }
}

@keyframes animation_close_error {
    0% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}