/* Import the font "Dosis" that's used */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
body {
    font-family: Dosis;
    background-color: #282c36;
    color: #727b8a;
    width: 100%;
    height: calc(100vh - 20px);
    overflow: hidden;
}

span {
    cursor: default;
}


/* header */

h1 {
    text-align: center;
    color: #727b8a;
    font-size: 45px;
    padding: 20px 0 20px 0;
    /* border-bottom: 1px solid #dee0e4; */
}


/* grid */

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: "list settings";
    width: 100%;
    height: calc(100vh - 20px);
}


/* The setting parameters */

.settings {
    /* background-color: #222c33; */
    grid-area: settings;
}


/* 
The settings close button
*/

.fa-times {
    color: #5a353a;
    font-size: 30px;
    position: absolute;
    display: block;
    margin-left: calc(100vw - 50px);
    padding-top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/*
Hide all settings generally
*/


/* #standart, */

#account,
#privacy,
#security,
#language,
#look,
#access,
#help,
#credits {
    display: none;
}


/* 
Settings for the startpage
*/

#standart {
    text-align: center;
    color: #727b8a;
}

#standart i {
    padding-top: 10vw;
    font-size: 55px;
}

#standart span {
    font-size: 45px;
}


/*
All the account settings
*/

#accountdata {
    margin-left: 100px;
    border-radius: 25px;
    background-color: #2f3442;
    color: #727b8a;
    font-size: 25px;
    width: 65vw;
    height: 500px;
}

#avatarchanger {
    margin-left: 500px;
    margin-top: 50px;
    position: absolute;
}

#avatarchanger div {
    position: absolute;
    margin-left: 245px;
    margin-top: 220px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 25px;
    text-align: center;
    background-color: #ffff00;
    cursor: pointer;
}

#avatarchanger div i {
    padding-top: 9px;
}

#avatarchanger img {
    width: 250px;
    height: 250px;
    margin-left: 25px;
    border-radius: 30px;
    display: inline;
    position: absolute;
}

#uploadform {
    margin-top: 300px;
    display: none;
}

#uploadform input {
    text-align: center;
    transform: 5s;
    width: 300px;
    height: 50px;
    padding: 0;
}

#files {
    border-radius: 15px;
    transform: 5s;
    width: 300px;
    height: 50px;
    background-color: #dee0e4;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
}

#accountdata-inner {
    padding-top: 35px;
    margin-left: 15px;
}

input,
#accountdata-inner .submit {
    border-radius: 15px;
    transform: 5s;
    width: 350px;
    height: 50px;
    background-color: #dee0e4;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

#accountdata-inner .submit {
    cursor: pointer;
}


/* 
Privacy
*/

#privacy {
    height: 100%;
    text-align: center;
}

.privacy_container {
    height: calc(100% - 100px);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 50%;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: "privacy_stats privacy_enhance" "privacy_ads privacy_all";
}

.privacy_container div {
    height: 230px;
    margin: 20px;
    border-radius: 10px;
    background-color: #2f3442;
}

.privacy_container p {
    padding: 0 25px;
}

.privacy_container i {
    font-size: 50px;
    cursor: pointer;
}

.fa-times-circle {
    color: #008000;
}

.fa-circle {
    color: #ddcd3c;
}

.fa-check-circle {
    color: #a52a2a;
}

.privacy_title {
    margin: auto;
    font-size: 30px;
}

.privacy_stats {
    grid-area: privacy_stats;
}

.privacy_enhance {
    grid-area: privacy_enhance;
}

.privacy_ads {
    grid-area: privacy_ads;
}

.privacy_all {
    grid-area: privacy_all;
}


/* 
Security
*/

#security {
    height: calc(100vh - 50px);
}

.security_container {
    text-align: center;
    height: 70%;
    display: grid;
    grid-template-columns: 33% 34% 34%;
    grid-template-rows: 40% 10% 40%;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: "security_friends_everyone security_friends_server security_friends_noone" "security_messages_title security_messages_title security_messages_title" "security_messages_everyone security_messages_server security_messages_friends";
}

.security_container * {
    font-size: 150%
}

.toggle_element {
    background-color: #2f3442;
    border-radius: 15px;
    margin: 10px;
}

.security_friends_title {
    font-size: 35px;
    width: 100%;
    text-align: center;
}

.security_friends_everyone {
    grid-area: security_friends_everyone;
}

.security_friends_server {
    grid-area: security_friends_server;
}

.security_friends_noone {
    grid-area: security_friends_noone;
}

.security_messages_title {
    grid-area: security_messages_title;
    font-size: 35px;
    text-align: center;
}

.security_messages_everyone {
    grid-area: security_messages_everyone;
}

.security_messages_server {
    grid-area: security_messages_server;
}

.security_messages_friends {
    grid-area: security_messages_friends;
}

.fa-toggle-off {
    color: #b46821;
    cursor: pointer;
}

.fa-toggle-on {
    color: #008000;
    cursor: pointer;
}


/* 
Language
*/

#language {
    height: 100%;
}


/* The element in which all the elements for the language are */

.language_container {
    /* Set it to the right height */
    height: 30%;
    /* Add a space around the element */
    margin-left: 10%;
    margin-right: 10%;
    /* Changed display property to be a grid */
    display: grid;
    /* Set grid row and column settings */
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    /* Remove the gap around the grid elements */
    gap: 0% 0%;
    /* Add the grid areas */
    grid-auto-flow: row;
    grid-template-areas: "language_german language_english" "language_francais language_italiano";
}

.language_container * {
    cursor: pointer;
}


/* Add the grid areas to the right classes */

.language_german {
    grid-area: language_german;
}

.language_english {
    grid-area: language_english;
}

.language_francais {
    grid-area: language_francais;
}

.language_italiano {
    grid-area: language_italiano;
}


/* Class for every language element */

.language_container>div {
    /* Add a space around the div */
    margin: 1.5%;
    /* Center all elements horizontally and vertically*/
    display: flex;
    align-items: center;
    justify-content: center;
}


/* The inner element of an language button */

.language {
    /* Set the background color */
    background-color: #2f3442;
    /* Let the element fill out the full button */
    height: 100%;
    width: 100%;
    /* Set display property to grid */
    display: grid;
    /* Create columns */
    grid-template-columns: 20% 55% 25%;
    /* Only one row needed bc. grid is only here for positioning elements to the left and right */
    grid-template-rows: 1fr;
    /* Remove the gap around the grid areas */
    gap: 0% 0%;
    /* Set the grid areas */
    grid-auto-flow: row;
    grid-template-areas: "language_check language_name language_flag";
}


/* All child elements of the inner language element */

.language * {
    /* Center the elements */
    margin: auto;
}


/* The parent element of the language flag indicators */

.language_flag {
    /* Set the grid area */
    grid-area: language_flag;
    /* Set the height and width to fill out the whole parent element */
    height: min-content;
    width: 100%;
    /* Center the element */
    margin: auto;
}


/* The language name */

.language_name {
    /* Set the grid area */
    grid-area: language_name;
    /* Add a font size */
    font-size: 250%;
}


/* The buttons that shows which language is used */

.language_check {
    /* Set the grid area */
    grid-area: language_check;
    /* Set the size relative to the element */
    font-size: 250%;
}


/* The language flags */

.language_flag img {
    /* Set the width and height */
    width: 80%;
    /* Smooth the corners */
    border-radius: 15%;
    /* Center all elements horizontally and vertically*/
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 
theme settings
*/

.theme_container {
    height: calc(75vh - 100px);
    display: grid;
    margin: 0 20px;
    border-radius: 20px;
    background-color: #2f3442;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 40% 40%;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: "theme_title theme_title" "theme_dark theme_light" "theme_example theme_example";
}

.theme_title {
    padding-top: 2.5%;
    grid-area: theme_title;
    font-size: 35px;
    text-align: center;
}

.theme_dark {
    grid-area: theme_dark;
    background-color: #282c36;
}

.theme_light {
    grid-area: theme_light;
    background-color: #f1f1f1;
}

.themes {
    margin: 0 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 150%;
    cursor: pointer;
}

.theme_example {
    grid-area: theme_example;
}

.center {
    text-align: center;
    font-size: 400%;
}


/* 
Help
*/

#help_text {
    margin: auto;
    text-align: center;
}


/*
Settings area choose list
*/

.list {
    grid-area: list;
    overflow: auto;
}

.vertical-menu {
    padding-top: 25px;
}

.vertical-menu * {
    cursor: pointer;
}

.vertical-menu a {
    text-align: center;
    padding-left: 10px;
    font-size: 30px;
    color: #ffffff;
    border-radius: 15px;
    background-color: #522c33;
    display: block;
    padding: 12px;
    margin-top: 5px;
    text-decoration: none;
}

.vertical-menu a.active {
    color: #ffffff;
}


/* Error output */

#errorOutput {
    cursor: pointer;
    background-color: #cc0605;
    color: #ffffff;
    font-size: 1.5rem;
    width: fit-content;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    animation: animation_error 10s ease 0s 1 normal forwards;
}

@keyframes animation_error {
    0% {
        opacity: 0;
        transform: translateX(5rem);
        display: block;
    }
    5% {
        opacity: 1;
        transform: translateX(0);
    }
    95% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(5rem);
        display: none;
    }
}

@keyframes animation_close_error {
    0% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}