/* Import the font "Dosis" that's used */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
* {
    font-family: Dosis;
}

body {
    background-color: #282C36;
    transition: 1s;
    height: 100%;
}


/* Header */

h1 {
    text-align: center;
}


/* Theme switch */

#themeToggleButton {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 2vh 2vw;
    border-radius: 1vh;
}

#themeButton {
    position: fixed;
    top: 2vh;
    right: 2vh;
}


/* form */

#container {
    width: 60vw;
    background-color: #ffffff;
    box-shadow: 0 0 1vh 0 #000;
    margin: 5vh auto;
    border-radius: 5vh;
}

#container h1 {
    text-align: center;
    color: #5b6574;
    font-size: 4vh;
    padding: 2vh 0 2vh 0;
    border-bottom: 0.5vh solid #dee0e4;
}


/*
The Dropdowns
*/

.dropdown-menu {
    margin: auto;
}

.dropbtn {
    background-color: #296b5e;
    color: white;
    padding: 2vh;
    font-size: 2vh;
    border: none;
    cursor: pointer;
    margin: auto;
    width: 60vw;
}


/* Dropdowns */

.dropdown:hover .dropbtn {
    background-color: #29646b;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 10vw;
    z-index: 1;
    width: 60vw;
}

.dropdown-content a {
    color: black;
    padding: 2vh 2.5vh;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #dddddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-menu-div {
    margin-top: 1vh;
}


/* 
The form
*/

.hiddenFormField {
    display: none;
}

form,
input {
    margin: auto;
    text-align: center;
    width: 92.5%;
}

form input[type="textarea"],
form input[type="text"] {
    height: 50px;
    border: 1px solid #75a7a7;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 1vw;
}

form input[type="submit"] {
    width: 95%;
    padding: 15px;
    margin-top: 15px;
    background-color: #254674;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #d7dbdb;
    transition: background-color 0.2s;
    border-radius: 1vw;
    margin-bottom: 15px;
}


/* Title */

#title {
    margin-top: 1.5vh;
}


/* Generally hide options */

#error,
#account_error,
#user,
#server,
#other,
#user_happened,
#app_error_area {
    display: none;
}

#problem {
    height: 15vh;
}


/* Error output */

#errorOutput {
    background-color: #cc0605;
    color: #ffffff;
    font-size: 1.5rem;
    width: fit-content;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    animation: animation_error 10s ease 0s 1 normal forwards;
}

@keyframes animation_error {
    0% {
        opacity: 0;
        transform: translateX(5rem);
        display: block;
    }
    5% {
        opacity: 1;
        transform: translateX(0);
    }
    95% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(5rem);
        display: none;
    }
}