/* Import the font "Dosis" that's used */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
body {
    /* set dark-mode as standart-background */
    background-color: #282C36;
    /* set to "Dosis" as font */
    font-family: Dosis;
    /* Set Transition, that Themes can smoothly change */
    transition: 1s;
    /* Maximalhöhe nutzen */
    height: 100%;
}

h1 {
    text-align: center;
}

#themeToggleButton {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border-radius: 5px;
}

#themeButton {
    position: fixed;
    top: 10px;
    right: 10px;
}


/* form */

#container1 {
    /* Width of the login-box */
    width: 400px;
    /* Background-color of the login-box */
    background-color: #ffffff;
    /* Shadow of the box, so that it looks nice */
    box-shadow: 0 0 10px 0 #000;
    /* position the login-box in the middle */
    margin: 100px auto;
    /* radius around the fields */
    border-radius: 15px;
}

#container1 h1 {
    /* Center the Text */
    text-align: center;
    /* Set Text-standart-color */
    color: #5b6574;
    /* set font size */
    font-size: 24px;
    /* set space to the sides */
    padding: 20px 0 20px 0;
    /* set space to the bottom */
    border-bottom: 1px solid #dee0e4;
}


/*
The Dropdowns
*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#area {
    display: none;
}