/* Import the font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

/* Settings for the whole site */

:root {
    --body-background-color: #282c36;
    --nav-background-color: #20232d;
    --text-color: #ffffff;
    --title-color: #ffffff;
    --nav-text-color: #ffffff;
    --extra-color: #ffffff;
}

* {
    transition: 0.5s;
    text-align: center;
}

body {
    font-family: "Raleway", sans-serif;
    transition: 0.5s;
    background-color: var(--body-background-color);
    color: var(--text-color);
    margin: 0;
}


/* Theme switch */

#themeToggleButton {
    color: var(--text-color);
    background: var(--body-background-color);
    padding: 10px 20px;
    /* border: 10px; */
    border-radius: 5px;
}

#themeButton {
    position: fixed;
    top: 10px;
    right: 10px;
    display: none;
}


/* Language switch */

#languageButton {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.languageButtonImage {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-right: 1rem;
}


/* Admin options */

#adminButton {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
}

#adminButton img {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    filter: invert(100%) sepia(0%) saturate(7431%) hue-rotate(107deg) brightness(108%) contrast(92%);
}

#adminContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    align-items: center;
    justify-content: center;
}

#admin {
    width: 50%;
    height: 50%;
    background-color: var(--body-background-color);
    border-radius: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin_no {
    background-color: rgba(200, 0, 0, 0.5);
}

.admin_choose {
    background-color: rgba(0, 200, 0, 0.25);
}

.admin_choose_extern {
    background-color: rgba(120, 100, 0, 0.5);
}

.admin_choose_container {
    width: 80%;
    height: 25%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 1rem 1rem;
    grid-auto-flow: row;
    grid-template-areas: "admin_no admin_choose_1" "admin_choose_2 admin_choose_3";
}

.admin_choose_container div {
    border-radius: 1rem;
    text-align: center;
    height: 2.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.admin_no {
    grid-area: admin_no;
}

.admin_choose_1 {
    grid-area: admin_choose_1;
}

.admin_choose_2 {
    grid-area: admin_choose_2;
}

.admin_choose_3 {
    grid-area: admin_choose_3;
}


/* Main content of the page */

header {
    margin-top: 4rem;
    font-size: 3rem;
}

main {
    margin-top: 25vh;
}

a {
    color: var(--extra-color);
}

footer {
    position: absolute;
    bottom: 3rem;
    width: 100%;
}

p {
    padding: 1rem;
}


