/* Import the font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

/* Settings for the whole site */

body {
    font-family: "Raleway", sans-serif;
    background-image: url('image.png');
    min-height: 100%;
    object-fit: cover;
    height: calc(100vh - 20px);
}

* {
    text-align: center;
    color: white;
}


/* Rule settings */

hr {
    width: 100%;
    margin: 1em;
    border-radius: 5px;
    border: dashed 2px;
}


/* The main content */

.main {
    place-content: center;
    margin: auto;
    display: grid;
    height: 100%;
    width: 100%;
}