@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
* {
    text-decoration: none;
    color: #ffffff;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    background-color: #484e52;
    color: #ffffff;
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 15% 85%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "user settings" "tabs settings";
    height: 100%;
    width: 100%;
}

.user {
    grid-area: user;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "icon name" "icon email";
    margin-left: 0.5rem;
}

.icon {
    grid-area: icon;
    margin: auto;
}

.icon * {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.name {
    grid-area: name;
    display: inline-block;
    align-self: flex-end;
}

.email {
    grid-area: email;
    font-size: 80%;
}

.tabs {
    grid-area: tabs;
}

ul {
    list-style: none;
    padding-left: 0.5em;
}

li {
    padding: 1rem;
    margin: 0.1em;
    border-radius: 1rem;
}

li:hover {
    background-color: #484e52;
    cursor: pointer;
}

li i {
    margin-right: 1.5em;
}

.settings {
    grid-area: settings;
    font-size: 0.75rem;
    margin-left: 1rem;
    background-color: #383e42;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    height: max-content;
}

.settings a {
    text-decoration: underline;
}

.settings>div {
    margin-top: 5em;
}

#settings_details {
    background-color: #484e52;
    min-width: 50%;
    width: min-content;
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 0.1px;
}

#settings_details>p {
    background-color: #383e42;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 1rem;
}

.warning_button {
    background-color: #dd0012;
    border: 0px;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#links img {
    border-radius: 1em;
    margin: 0.5em;
}